name: Auto Release on Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract Commit Info
        id: vars
        run: |
          # Récupère le titre (Summary)
          SUMMARY=$(git log -1 --pretty=%s)
          # Récupère le corps du message (Description)
          DESCRIPTION=$(git log -1 --pretty=%b)
          
          # Génération du tag : On remplace uniquement les espaces par des "_"
          # On garde les majuscules et on retire le hash (numéro de commit)
          CLEAN_TAG=$(echo "$SUMMARY" | sed 's/ /_/g')
          
          echo "summary=$SUMMARY" >> $GITHUB_OUTPUT
          echo "tag=$CLEAN_TAG" >> $GITHUB_OUTPUT
          
          # Gestion de la description pour GitHub Actions
          echo "description<<EOF" >> $GITHUB_OUTPUT
          echo "$DESCRIPTION" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.vars.outputs.tag }}
          name: ${{ steps.vars.outputs.summary }}
          body: ${{ steps.vars.outputs.description }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}